.grid-container {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid #1585f5;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

#search-form {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

#search-button {
  margin-left: 5px;
  color: #ffffff;
  background-color: #1585f5;
  border: 1px solid #ffffff;
  border-radius: 1em;
  height: 28px;
  min-width: 70px;
  outline: none;
  font-weight: 600;
}

#book-input {
  display:block;
  height: 28px;
  width: 260px;
  border: 1px solid #bdbaba;
  border-radius: 0.7em;
  text-indent: 5px;
}

.loader-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 45%;
  height: 30vh;
  display: flex;
}

.loader {
  margin: 20px 20px;
  border: 5px solid rgb(212, 208, 208);
  border-top: 5px solid #1585f5;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  animation: spin 2s linear infinite;
}

#title {
  color: #1585f5;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.title-author {
  font-weight: bold;
  color: #1585f5;
}

p {
  text-align: left;
  font-size: 85%;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}